{% extends 'main/layout.html' %}

{% block title %}Анекдоты{% endblock %}

{% block content %}
<div class="features">
    <h1>Анекдоты</h1>
    <p>Тимоша куколд?????</p>
    <div class="btn btn-group" role="group" aria-label="Basic example">
        <form action="{% url 'yes' %}">
            <button type="submit" class="btn btn-success">ДА</button>
        </form>
        <form action="{% url 'no' %}">
            <button class="btn btn-danger">НЕТ</button>
        </form>
      </div>
    <form action="{% url 'kostya' %}">
        <button class="btn btn-info">Костя нажми на меня</button>
    </form>
</div>
{% endblock %}